<style type="text/css">
  .reveal h1 { font-size: 2.5em; }
  .reveal section img {
      border: none;
      box-shadow: none;
  }
  body {
      background: url("images/background.svg") no-repeat fixed top left
  }
</style>
